[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
titlecase = "*"
gooey = "*"
psutil = "*"
pillow = "*"
pyinstaller = {file = "https://github.com/pyinstaller/pyinstaller/archive/develop.zip"}

[requires]
python_version = "3.6"
